body {
  font-family: 'Rubik', sans-serif;
}
* {box-sizing: border-box}
#signupform{
  width: 35%;
  box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
  background: rgba(255, 255, 255, 0.589);
  padding: 20px;
  border-radius: 50px;
  margin-top: -1090px;
  margin-left: 1000px;
}
.content{
  height: 100vh;
  margin-top: 40vh;
  margin-left: 100px;
  margin-right: 500px;
  text-align: center justify;
  color: rgb(43, 43, 168);
  font-size: 30px;
}
.content p{
  font-weight: 300;
  text-align: left justify;
  position: center;
  font-size: 30px;
}
/* Full-width input fields */
input[type=email], input[type=password]{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  border-radius: 30px;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
  font-weight: 500;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  font-size: 17px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
a{ 
  text-decoration:none;
}

